<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="pt">
    <head>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
        <title>django-chartjs line chart demo</title>
    </head>
    <body>
        <form class="form-inline my-2 my-lg-0" action="{% url 'busca' %}" method="get">
            {% csrf_token %}
            <label for="inputState">Busca</label>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="busca">
            <input type="hidden" name="a" value="1" > 
            <!-- <label for="inputState">Token</label> -->
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="token"> -->
            <div class="form-group col-md-4">
                <label for="inputState">Tipo de Busca</label>
                <select id="inputState" class="form-control" name="tipo">
                    <option value = "abstract">Texto</option>
                    <option value = "author">Autor</option>
                </select>
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>

        <h1></h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <canvas id="bar-chart"></canvas>
                </div>
                <div class="col">    
                    <canvas id="line-chart"></canvas>
                </div>
            </div>
        <script type="text/javascript">
            var p_chave_valor = jQuery.parseJSON('{{ p_chave.valor }}')
            var p_chave_label = jQuery.parseJSON('{{ p_chave.label|safe }}')
            var p_anos_valor = jQuery.parseJSON('{{ anos.valor }}')
            var p_anos_ano = jQuery.parseJSON('{{ anos.ano }}')
        </script>
        <script src="{%  static 'js/graficos.js' %}" type="text/javascript"></script>
    </body>
</html>